
@{
    ViewBag.Title = "Liên kết hỏng";
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}
<div style="width:400px; height:300px; margin:15px auto; text-align:center">
    <h2 style="text-align:center">Chào bạn, hiện liên kết bạn truy cập không còn tồn tại !</h2>
    <a style="color:#ff0000; background:#04d1bf; font-size:15px; font-weight:bold; padding:5px 7px " href="http://thietbivesinhinax.vn" title="trang chủ">Vào trang chủ</a>

</div>


