@media screen and (max-width: 768px) 
{
	#Content_top{ width:100%; float:left; margin:0px}
	.Hot_Tags{ display:none}
	.ul_Content_top_Center{ display:none}
	.Tragop{ display:none}
.SupportOnline{ background-image:none !important}
	.ul_Content_top_right{ float:left !important; margin:0px; background-image:none !important}
	.SupportOnline a.asup{ padding:16px 0px}
	#Center_Banner{ display:none}
	#Left_Banner{ width:70% !important}
	#Right_Banner{ width:30% !important}
	#Banner{ width:100% !important; height:auto}
	#Main{ width:100%}
	#Left_Top_Headder{ width:26%}
	#iLogo a img{ margin-left:5px}
	#iName{ height:auto}
	#iName h3 {
    margin: 50px auto 2px 62px;}
	#Headder{ width:100% }
	#Right_Top_Headder ul li.Support{ display:none}
	#Right_Top_Headder{ width:74%}
	#Right_Bottom_Headder{ display:none}
	#Left_Bottom_Headder{ width:26%}
	#Center_Bottom_Headder{ width:73%}
	ul.ul1 .li1 .ul2{ width:450px}
	ul.ul1 .li1 .ul2 li{ width:40% !important}
	.li_Ct1{ width:11%; height:auto}
	.img_Content_ct{ max-height:68px}
	.Content_ct img{ width:90%; max-height:60px}
	.Content_Cate{ height:auto}
	.Content_ct{  height:auto}
	.li_Ct1 ul{ top:82%}
	.Tear_Sale{ width:24%; height:auto}
.Content_cl_Content .Content_1{ width:99%; float:left; margin:0px}
.Left_Top_cl_Content{ display:none}
.Right_Top_cl_Content{ width:100%; margin:0px}
.Tear_pd{ width:18.5%}
.img_Tearpd{ width:100%; height:103px}
.img_Tearpd img{ max-height:100%;  width:90%}
 .Tear_pd .sevices .Status{ width:55px; background-size:100%}
 .PriceSale{ font-size:17px}
 .Tear_Sale .sevices .Transport{ font-size:11px}
.Tear_pd .sevices .Transport{ font-size:10px; margin:4px 1px }
#Dichvu{ height:auto; width:100%}
.teardv{ width:32%; margin:2px 0px 2px 3px; background-size:100%; max-height:80px}
.Tear_Dichvu5{ float:left; width:30%; margin:2px 0px 2px 3px}
#Footter_Top{ width:100%; padding:0px}
#Footter_Centter{ width:100%; height:auto }
#Footter_bottom{width:100%}
.Tear_Footter{ width:31%; margin:2px}
.RegistrySale{ float:left; margin:0px}
.Content_cl_Content{ margin:0px; padding:0px}

#Footter_bottom{ height:auto}

#Infocty{ height:auto}
#Left_Footter_bottom{ width:70%}
#Right_Footter_bottom{ width:30%}
#Content_ProductDB .spdb{ width:32.3%}
#Adw_sbdb{ width:100%; height:auto}
.Chodexe{ width:100%; height:90px}
#Maps_Homes{ width:100%}
.Notice .Left_notice{ display:none}
.Notice .Right_notice{ width:100%; margin:0px}
.Notice .Right_notice .n1{ font-size:30px}
.Content_cl_Content{ padding:0px !important}
.float-ck{ display:none}
#divAdRight,#divAdLeft{display:none}
}
@media screen and (max-width: 480px) 
{
	#Bottom_Headder{ display:none}
	
	.CateList{ display:none}
	.SupportOnline {
   			 background:url(../iCon/Line_Navar.png)no-repeat scroll left top transparent !important;
	}
	#Banner{ height:auto !important; padding:5px 0px; float:left; margin:0px}
	#iLogo a img{ height:60px; margin:7px; display:block}
	#Left_Banner{ width:100% !important}
	#iName{ height:auto !important}
	#Right_Banner{ display:none !important}
	#iName h3{margin: 47px auto 2px 56px !important; font-size:15px !important; font-family:UTM-Swiss-CondensedBold; display:none}
	#Headder{ display:none}
	#Catelogy{ display:none}
.SupportOnline a.asup{ margin-left:5px; display:block; font-size:12.5px}
	.Tear_Sale{ width:48.5%}		
		.Tear_pd{ width:31%}
		.Tear_GroupsProduct .nVar .Right_nVar li{ display:none}
		#Doitac{ display:none}
		.teardv{ width:49%; margin:1px 0px 1px 3px; background-size:100%; max-height:80px}
		.teardv:last-child{display:none}
		.Tear_Footter{ width:48%}
		.RegistrySale{ width:98%; margin:5px 0px; float:left; text-align:justify}
		.Title_regis{ text-align:center; margin:2px}
		#Footter_Centter p{ line-height:20px; padding-top:4px}
		#Footter_bottom{ height:auto}
		#Left_Footter_bottom{ width:100%; height:auto; float:left; margin:0px}
		##Right_Footter_bottom{ width:100%; height:auto; float:left; margin:0px}
		#Logo_Left{ width:100%; height:auto; float:left; margin:0px}
		#Logo_Left img{ margin:5px auto; display:block}
		#Info_Right .p1{ text-align:center}
		#Info_Right{ width:100%; float:left; margin:0px}
		#Right_Footter_bottom{ width:100% !important; margin:0px; height:auto}
		#Right_Footter_bottom img{ width:32%}
		#Infocty{height:auto}
		#Content_ProductDB .spdb{ width:48% }
		#subiz_right_bottom{ display:none !important}
		#subiz_wrapper{ display:none !important}
		.float-ck{ display:none}
		#myModal{ display:none !important}
		#MenuMobile{ display:block; position:absolute; width:5px 0px; z-index:100; background: url(../iCon/nvar.png) no-repeat 5px center scroll #129dff; ; width:140px; height:37px; right:0px; top:20px; }
		#MenuMobile a{ font-size:16px; font-family:UTM-Swiss-CondensedBold; color:#FFF; line-height:37px; margin:auto 5px auto 44px; text-transform:uppercase
}
#menu{ z-index:10000 }
.ul_Content_top_right { display:none}
 
.Chinhhang{ display:block; font-size:15px; font-family:UTM-Swiss-CondensedBold; color:#FFF; line-height:45px; text-align:center; text-transform:uppercase}
#Maps_Homes{ display:none}
.Notice .Right_notice .n1{ font-size:20px}
.Notice .Right_notice .n2{ font-size:16px}
.Notice .Right_notice .n3{ font-size:15px}
#Link{ display:none}
}