@charset "utf-8";
/* CSS Document */
#News_Detail{ width:972px; height:auto; float:left; margin:0px 5px 0px 0px}
.HeadShort{ width:98%; height:auto;  margin:10px auto 5px auto; font-size:12px; text-indent:15px; font-weight:bold; text-align:justify}
.Tintuclienquan{ width:98%; height:auto;  margin:7px auto 7px auto; font-size:12px; 
text-indent:15px; font-weight:bold; text-align:justify; background:#faf9f9; padding-top:5px; padding-bottom:5px }
.Tintuclienquan a{ font-weight:normal; font-size:12px; color:#999999; display:block; margin:2px 2px; font-style:italic}
.Description{ width:98%; height:auto;   margin:5px auto; font-size:12px; text-align:justify; line-height:22px}
.Description img{ max-width:100%; height:auto; margin:7px auto; display:block}
.Author{width:98%; height:auto; float:left; margin:5px; }
.Author span{ font-style:italic; text-align:right; margin:5px; float:right}
.ListNewsLienquan{width:98%; height:auto; float:left; margin:10px 0px}
.name_ListNewsLienquan{ font-size:14px; font-weight:bold; margin:5px 5px 15px 5px; text-transform:uppercase; display:block}
.ListNewsLienquan li a{ font-size:12px; margin:5px; color:#616161; display:block}
#News_Detail h3 {
    display: block;
    font-size: 15px !important;
    font-family: UTM-Swiss-CondensedBold;
    font-weight: normal;
    margin: 15px auto;
    color: #545454;
    text-transform: uppercase;
}

