@charset "utf-8";
/* CSS Document */
.bongden{position:fixed; background:rgba(0,0,0,0.5); top:0; bottom:0; left:0; right:0; text-align:center;padding-top:100px; display:none}
.bongden h1{color:#FFF}

