 <div id="Left_Cate">
    <div class="Tear_Menu">
        <div class="nVar_Menu">
            <span>Danh mục</span>
        </div>
        <div class="Content_Menu">
            <ul class="tintuc">
                @Html.Raw(ViewBag.chuoinew)
                <li> <a href="/4/ha-noi" title="Thiết bị vệ sinh Inax chính hãng">› Hệ thống phân phối </a></li>
                <li> <a href="/ban-do" title="Thiết bị vệ sinh Inax chính hãng">› Bản đồ </a></li>
                <li> <a href="/lien-he" title="Thiết bị vệ sinh Inax chính hãng">› Liên hệ </a></li>
            </ul>
        </div>
    </div>
    <div class="Adw_Cate">
        @Html.Raw(ViewBag.chuoiimages)
    </div>
</div>