<div id="ListGroupsPrduct">
    <div class="Nvar_ListGroupsPrduct"><span>Sản phẩm bán chạy</span></div>
    <div class="Clear"></div>
    @Html.Raw(ViewBag.ListProduct)
</div>

@{Html.RenderAction("adwadsense", "Homes");}

 