<div id="Product_Sale">
    <div class="Nvar_ProductSale">
        <span>Sản phẩm khuyến mại </span>
        <img src="~/Content/Display/iCon/hot.jpg" alt="Sản phẩm hót" />
        <h1>@ViewBag.h1</h1>
    </div>
    <div id="Content_ProductSale">
        @Html.Raw(ViewBag.chuoilist)
    </div>
</div>