@model INAX.Models.tblConfig
<div id="Banner">
    <div id="MenuMobile">
        <a href="#menu" title="Danh mục">Danh mục</a>
    </div>

    <div id="Left_Banner">
        <div id="iName">
            <h3>
                @Model.Name
        </h3>
    </div>
    <div id="iLogo">
        <a href="/" title="Logo Inax">
            <img src="@Model.Logo" alt="Logo INAX" />
        </a>
    </div>

</div>
<div id="Center_Banner">

</div>
<div id="Right_Banner">
    <div id="Top_Right_Banner">
        <p>
            Ngôn ngữ :
            <img src="~/Content/Display/iCon/vn.jpg" alt="vn" />
            Vi
            <img src="~/Content/Display/iCon/EN.png" alt="EN" />
            En
        </p>
    </div>
    <div id="Center_Right_Banner">
        <a href="/vn/home/tin-tuc/huong-dan-nhan-biet-thiet-bi-ve-sinh-inax-that-gia_61.html" title="Phân biệt inax chính hãng" rel="nofollow"><span>Phân biệt inax chính hãng !</span></a>
    </div>
    <div id="Bottom_Right_Banner">
        <a href="#" title="Thiết bị vệ sinh Inax chính hãng">
            @*<img src="~/Content/Display/iCon/lixil.jpg" alt="Inax Việt Nam" />*@
        </a>
    </div>
</div>
</div>