<div class="Notice">
    <div class="Left_notice">
    </div>
    <div class="Right_notice">
        <span class="n1">Thông báo khách hàng</span>
        <span class="n2">
            Chúng tôi xin thông báo quý khách hàng về giá bán khuyến mại trên 2 website chính thức Inaxgroup.vn và Thietbivesinhinax.vn chỉ công bố khi khách hàng Chát,Gọi điện hoặc đến trực tiếp. Chúng tôi cam kết giá rẻ nhất Việt Nam !
        </span>
        <span class="n3">Khách hàng vui lòng liên hệ để nhận giá khuyến mại !</span>
    </div>
</div>
