@model INAX.Models.tblConfig

<div id="Top">
    <div id="Content_top">
        <ul class="ul_Content_top_left">
            <li class="Homes"><a href="/" title="Trang chủ" rel="nofollow"><span class="~/Content/Display/iCon-Homes"></span></a></li>
            <li class="CateList">
                <a href="#" title="Thiết bị vệ sinh Inax chính hãng"><span class="categories-icon"></span>Chọn tỉnh thành</a>
                <ul class="ul_Content_top_left_Child">
                    @Html.Raw(ViewBag.chuoiagency)
                </ul>
            </li>
            @*<li class="Hot_Tags">
                    <a href="#" title="Thiết bị vệ sinh Inax chính hãng"><span class="Tags-icon"></span>Hot Tags</a>
                    <ul class="ul_Hot_Tags">
                        @Model.Content
                    </ul>
                </li>*@
        </ul>
        <ul class="ul_Content_top_Center">
            @using (Html.BeginForm("Search", "Product", FormMethod.Post))
            {
                <div id="Content_Search">
                    <input type="text" id="txtSearch" name="txtSearch" class="txtSearch" />
                    <button type="submit" id="btnSearch" name="btnSearch"></button>
                </div>
            }
        </ul>
        <ul class="ul_Content_top_right">
            <li class="SupportOnline">
                <a class="asup" href="#" title="Hotline hỗ trợ">
                    <span class="icon_SupportOnline"></span>Hotline 391 Nguyễn Xiển :
                    <span class="htline">@Model.Hotline1</span>
                </a>
                <a class="asup" href="#" title="Hotline hỗ trợ">
                    <span class="icon_SupportOnline"></span>Hotline 170 Phạm Văn Đồng :
                    <span class="htline">@Model.Hotline2</span>
                </a>
            </li>
             
            @*<li class="Tragop">
                <a href="#" title="Mua hàng dự án"><span class="icon_tragop"></span>Mua hàng dự án</a>
            </li>*@
        </ul>
        <span class="Chinhhang">Website INAX chính hãng từ Inaxgroup </span>
    </div>
</div>