@{
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
<link href="~/Content/Display/Css/SaleProduct.css" rel="stylesheet" />
<div id="imageSale">
    @Html.Raw(ViewBag.resultImage)
</div>
@Html.Raw(ViewBag.result)
<div class="Clear"></div>

